
<%= form_for([@post, @post.comments.build]) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_area :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
